.header{
  text-align: center;
  padding: 20px;
}

body {
  font-family: Verdana;
  background-color: LightCyan;
  text-align: center;
}

input {
  padding: 5px 5px;
  border: 1px solid black;
}

p1 {


}

p2 {

}

p3 {

}

table {
  border: 1px solid black;
}
